<div class="" style="text-align: center;">
  <div class="grid--full bulk-wallpaper">
    <div class="grid__item small--whole medium--whole large--whole">
      <div style="border-top:1px solid #af2a26; margin-top:12px;">
        <div class="asphaltic" style="color:white; font-size:4em; padding-top:15px;">
          <span class="red-text">B</span>uilding <span class="red-text">U</span>p <span class="red-text">L</span>ives with <span class="red-text">K</span>indness
        </div>

        <div class="aventir" style="color:white; font-size:1.3em;">Join the B.U.L.K Family for discount codes, new videos and more!</div>
      
         <div style="border-bottom:1px solid #af2a26; width:100%; position:relative; top:-56px;">
          <div style="background-image: url('{{ 'bulk_wallpaper.png' | asset_url }}'); display:inline-block; padding:6px; border:1px solid #af2a26; margin:20px auto 20px; position:relative; top: 56px;">
            <a href="/pages/email-signup" style="color:white; ">
              <div class="asphaltic" style="display:inline-block; background:#af2a26; color:white; font-size: 3em; padding:3px 6px;">Join the B.U.L.K Family</span>
            </a>
          </div>
        </div>
 
      </div>
    </div>
  </div>
</div>